#menu{
    clear: both;
    background:  #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}

#menu ul{
    list-style: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float:left;
    border-right: 1px solid #363636;
}

#menu a{
    display:block;
    color: white;
    padding-left:12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left:1px solid #363636;
}
#menu a:hover{
    background: #01b1ea;
}